dwave-ocean-sdk>=3.3.0
scipy==1.5.4; python_version>='3.6'
scipy==1.4.1; python_version<'3.6'
jupyter==1.0.0

pandas==1.2.1; python_version>='3.6.1'
pandas==0.25.3; python_version<'3.6.1'

scikit-learn==0.23.1; python_version>='3.6'
scikit-learn==0.22.2.post1; python_version<'3.6'

matplotlib==3.3.4; python_version>='3.6'
matplotlib==3.0.3; python_version<'3.6'
