dwave-ocean-sdk>=3.0.0
scipy==1.4.1
jupyter==1.0.0

# support py35 until EOL (2020-09-13)
pandas==1.0.4; python_version>='3.6.1'
pandas==0.25.3; python_version<'3.6.1'

scikit-learn==0.23.1; python_version>='3.6'
scikit-learn==0.22.2.post1; python_version<'3.6'

matplotlib==3.2.1; python_version>='3.6'
matplotlib==3.0.3; python_version<'3.6'
